@import 'bootstrap/dist/css/bootstrap.min.css';

/*Global Css*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #f6f6f6;
  color: #222;
}
section {
  padding: 1rem 0;
}

/*----------------------------------------BookList Section----------------------------------------*/
.booklist__article {
  padding: 1rem;
  background-color: #fff;
  box-shadow: 1px 2px 2px 0px #c1b7b7;
  border-radius: 4px;
}
.booklist .card {
  border: none;
}
.booklist__img {
  display: block;
  margin: 0 auto;
}
.booklist__titles {
  font-weight: 600;
  font-size: 1.2rem;
}
.booklist__author {
  font-size: 0.75rem;
  color: rgb(151, 137, 137);
  letter-spacing: 3px;
}
.booklist__desc {
  color: #5f5e5e;
}
